<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Editor</title>
    <style>
        input, button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body onload="initCardEditor()">
    <h1>Card Editor</h1>
    <table id="card-data-table">
    </table>

    <button id="new-field-button" onclick="addRow(true)">New Field</button>
    <button onclick="submitForm()">Submit</button>
    <button type="button" id="search-button" onclick="searchCards()">Search</button>

    <h2>Result</h2>
    <pre id="result"></pre>

    <script src="{{ url_for('static', filename='card_editor.js') }}"></script>
</body>
</html>
